---
openapi: 3.0.0
info:
  title: Getting Started
  description: |
    Everyname's advanced API fetches wallet addresses and names from any blockchain name service.


    Everyname enables applications to map human-readable names to crypto wallet addresses from any smart contract registry.

    Search any onchain name .eth .sol .tez .algo .fn .dot .btc .bnb .stark .rsk .cosmos

    ## Get started

    Everyname API – the ultimate solution for fetching every blockchain domain space. At this time, Everyname API is not yet available to the public. However, we are excited to offer early access to a select group of developers who are eager to integrate our powerful API into their applications.

    By requesting early access to Everyname API, you will have the opportunity to be among the first developers to experience the benefits of a single API for fetching every blockchain domain name space. Our team is committed to providing you with the tools and resources you need to successfully integrate Everyname API into your projects.


    [Get Early Acccess](https://weightless.so/hgd2zt6r)
     ---

     ## Supported TLDS:
     algo, apt, avax, bnb, btc, cosmos, dot, eth, fn, sol, stark, tez
     ---

  version: 1.0.0
servers:
  - url: https://api.everyname.xyz:9010
paths:
  /tlds:
    get:
      summary: Get supported TLDS
      operationId: getSupportedTLDS
      responses:
        "200":
          description: Array of supported TLDS
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /address:
    get:
      summary: Get address information
      operationId: getAddressInfo
      parameters:
        - name: address
          in: query
          required: true
          description: Ethereum address
          schema:
            type: string
        - name: network
          in: query
          required: true
          description: Blockchain network
          schema:
            type: string
      responses:
        "200":
          description: Address information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
                  tldUrl:
                    type: string
                  name:
                    type: string
  /name:
    get:
      summary: Get name information
      operationId: getNameInfo
      parameters:
        - name: domain
          in: query
          required: true
          description: Domain name
          schema:
            type: string
      responses:
        "200":
          description: Name information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  address:
                    type: string
                  tldUrl:
                    type: string
                  tld:
                    type: string
security:
  - API_TOKEN: []
components:
  securitySchemes:
    API_TOKEN:
      type: apiKey
      name: API_TOKEN
      in: header
