openapi: 3.0.0
info:
  title: Introduction
  description: |
    Everyname's advanced API fetches wallet addresses and names from any blockchain name service. 
    It works by querying multiple onchain name services with a single API call. 
    There is no need to configure or maintain individual client libraries and RPC endpoints.

    **Note:** as a free service the rate limit is 15 requests per minute per API_KEY.


    ## Get started

    [Forward Resolution](https://docs.everyname.xyz/api/forward-resolution) maps a name → address, i.e. everyname.eth → 0xD475C94562cabC52e38cb3012D976185813284bb

    [Reverse Resolution](https://docs.everyname.xyz/api/reverse-resolution) maps an address → name, i.e. 0xD475C94562cabC52e38cb3012D976185813284bb → everyname.eth

    Refer [here](https://docs.everyname.xyz/api/get-supported-tlds) for supported providers and TLDs (.eth .avax .tez and so forth)

    ### To try the API:



    1. Generate a Trial API_KEY using this [tool](https://docs.everyname.xyz/api/get-a-trial-api-key)
    2. Copy the API_KEY
    3. Select [Forward](https://docs.everyname.xyz/api/forward-resolution) or [Reverse](https://docs.everyname.xyz/api/reverse-resolution) Resolution
    4. Click Authorize on the top-right; paste the API_KEY and click Save
    5. Enter your query into the Console on the far-right of the page
      i. Forward (query = domain; i.e. everyname.eth)
      ii. Reverse (query = address and provider; i.e. 0xD475C94562cabC52e38cb3012D976185813284bb and ens)
    8. Click Execute or copy and paste the relevant code snippet into your application

    **Note:** the Trial API_KEY is valid for 15 minutes. To request a permanent API_KEY submit your email address [here](https://docs.google.com/forms/d/e/1FAIpQLScUGfOKFUl3lhz1wx76ofgtLPyMGkzZ36_7AcsREp4-UQ9mCg/viewform) and we will get back to you soon

  version: 1.0.0
servers:
  - url: https://api.everyname.xyz/

paths:
  /try:
    get:
      summary: Get a trial API-key
      operationId: /try
      responses:
        "200":
          description: Returns a 15-minute temporary API-key
          content:
            application/json:
              schema:
                type: string
      security: [] # Remove the API_TOKEN requirement for this endpoint
  /forward:
    get:
      summary: Forward Resolution
      description: This endpoint returns the resolver address in HEX for a specified query using the domain name space.
      operationId: /forward
      parameters:
        - name: domain
          in: query
          required: true
          description: Domain name, example everyname.eth
          schema:
            type: string
      responses:
        "200":
          description: Domain Name information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  address:
                    type: string
                  tldUrl:
                    type: string
                  tld:
                    type: string
      security:
        - API_TOKEN: []
      x-security-headers:
        api-key: $request.headers['api-key']
  /reverse:
    get:
      summary: Reverse Resolution
      description: This endpoint returns the domain name space for a specified query which contains the resolver address in HEX format.
      operationId: /reverse
      parameters:
        - name: address
          in: query
          required: true
          description: Resolver address, example 0xD475C94562cabC52e38cb3012D976185813284bb
          schema:
            type: string
        - name: provider
          in: query
          required: true
          description: Domain provider, example 'ens'
          schema:
            type: string
      responses:
        "200":
          description: Address information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
                  tldUrl:
                    type: string
                  name:
                    type: string
      security:
        - API_TOKEN: []
      x-security-headers:
        api-key: $request.headers['api-key']
  /reverse-all:
    get:
      summary: Reverse All EVM
      description: This endpoint returns the domain name space for each EVM provider given a HEX address.
      operationId: /reverse-all
      parameters:
        - name: address
          in: query
          required: true
          description: Resolver address, example 0xD475C94562cabC52e38cb3012D976185813284bb
          schema:
            type: string
      responses:
        "200":
          description: Mapped providers to domain name
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  ens:
                    type: object
                    properties:
                      domain:
                        type: string
                  space-id:
                    type: object
                    properties:
                      domain:
                        type: null
                  farcaster:
                    type: object
                    properties:
                      domain:
                        type: string
                  lens:
                    type: object
                    properties:
                      domain:
                        type: string
                  unstoppable-domains:
                    type: object
                    properties:
                      domain:
                        type: null

      security:
        - API_TOKEN: []
      x-security-headers:
        api-key: $request.headers['api-key']
  /tlds:
    get:
      summary: Get supported TLDS
      operationId: /tlds
      responses:
        "200":
          description: Array of supported TLDS
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: [] # Remove the API_TOKEN requirement for this endpoint
  /providers:
    get:
      summary: Get supported providers
      operationId: /providers
      responses:
        "200":
          description: Returns a string[] array of domain providers we support
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: [] # Remove the API_TOKEN requirement for this endpoint

  /provider-to-tlds:
    get:
      summary: "Get provider to TLDS"
      operationId: /provider-to-tlds
      responses:
        "200":
          description: "Returns an object map: provider -> tlds: array"
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider:
                    type: array
                    items:
                      type: string
                example:
                  provider: ["tld1", "tld2"]
      security: [] # Remove the API_TOKEN requirement for this endpoint

security:
  - API_TOKEN: []
components:
  securitySchemes:
    API_TOKEN:
      type: apiKey
      name: api-key
      in: header
#0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
