openapi: 3.0.0
info:
  title: Introduction
  description: |
    Everyname's advanced API fetches wallet addresses and names from any blockchain name service.


    Everyname enables applications to map human-readable names to crypto wallet addresses from any smart contract registry.

    Search any onchain name **.eth .sol .tez .algo .fn .dot .btc .bnb .stark .rsk .cosmos**

    ---
    ## Get started

    Everyname API – the ultimate solution for fetching every blockchain domain space. At this time, Everyname API is not yet available to the public. However, we are excited to offer early access to a select group of developers who are eager to integrate our powerful API into their applications.

    By requesting early access to Everyname API, you will have the opportunity to be among the first developers to experience the benefits of a single API for fetching every blockchain domain name space. 


    [GET API KEY](https://weightless.so/hgd2zt6r)

  version: 1.0.0
servers:
  - url: https://api.everyname.xyz:9010
paths:
  /forward:
    get:
      summary: Forward Resolution
      description: This endpoint returns the resolver address in HEX for a specified query using the domain name space.
      operationId: /forward
      parameters:
        - name: domain
          in: query
          required: true
          description: Domain name, example vitalik.eth
          schema:
            type: string
      responses:
        "200":
          description: Name information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  address:
                    type: string
                  tldUrl:
                    type: string
                  tld:
                    type: string
      security:
        - API_TOKEN: []
      x-security-headers:
        api-key: $request.headers['api-key']
  /reverse:
    get:
      summary: Reverse Resolution
      description: This endpoint returns the domain name space for a specified query which contains the resolver address in HEX format.
      operationId: /reverse
      parameters:
        - name: address
          in: query
          required: true
          description: Resolver address, example 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
          schema:
            type: string
        - name: network
          in: query
          required: true
          description: Blockchain network, example 'eth'
          schema:
            type: string
      responses:
        "200":
          description: Address information
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider:
                    type: string
                  tldUrl:
                    type: string
                  name:
                    type: string
      security:
        - API_TOKEN: []
      x-security-headers:
        api-key: $request.headers['api-key']
  /tlds:
    get:
      summary: Get supported TLDS
      operationId: /tlds
      responses:
        "200":
          description: Array of supported TLDS
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security: [] # Remove the API_TOKEN requirement for this endpoint

security:
  - API_TOKEN: []
components:
  securitySchemes:
    API_TOKEN:
      type: apiKey
      name: api-key
      in: header
#0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
